In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service

In [2]:
title_list = list()
price_list = list()
area_list = list()

driver = webdriver.Chrome()

driver.get('https://www.golmarket.co.kr/used_list.php')

search_box = driver.find_element(By.NAME, 'stx')

search_box.send_keys('스파이더')
search_box.send_keys(Keys.RETURN)

# 결과 페이지가 로드될 때까지 잠시 기다립니다.
driver.implicitly_wait(3)

# 정보를 담은 박스를 선택합니다.
search_results_title = driver.find_elements(By.CSS_SELECTOR, 'div.wr_subject')
search_results_price = driver.find_elements(By.CSS_SELECTOR, 'span.price')
search_results_area = driver.find_elements(By.CSS_SELECTOR, 'span.area')


for result in search_results_title:
    title_list.append(result.text)
    
for result in search_results_price:
    price_list.append(result.text)
    
for result in search_results_area:
    area_list.append(result.text)

    
# 작업이 끝나면 WebDriver를 종료하여 브라우저 창을 닫습니다.
driver.quit()

In [6]:
for i in range(len(price_list)):
    if '원' in price_list[i]:
        price_list[i] = price_list[i].replace('원', '')

In [9]:
for i in range(len(price_list)):
    price_list[i] = int(price_list[i].replace(",",""))

In [11]:
golf_item_df = pd.DataFrame([title_list, price_list, area_list]).T
golf_item_df.columns = ['상품명', '판매가', '지역']

In [13]:
golf_item_df

                                                  상품명     판매가       지역
0                                    스파이더 미니 퍼터(34인치)  120000    전체 시흥
1                            텔메 스파이더 OS CB 퍼터 (구리인서트)  250000   경상 영천시
2                                            스파이더GT맥스  450000    전체 전라
3                                             스파이더 EX  150000  전체 분당수지
4                                테일러 스파이더 GT 34인치 상태굿  210000  충청 청주천안
5                                     스파이더ex(34)(새제품)  350000   대구 수성구
6                                      테일러메이드 스파이더 퍼터  150000   인천 영종도
7                                    테코정품 스파이더 GT 노치백  190000  경기 기흥서천
8                                    테일러메이드 스파이더GT 퍼터  190000    인천 부평
9                                스파이더 GT 롤백 실버블랙 33인치  170000   대구 수성구
10                                  스파이더x 34인치 (커버포함)  100000    경기 범계
11  테일러메이드 스파이더GT 우먼스 퍼터 33인치 판매합니다. 일주일 사용. 테일러메이...  380000  전체 과천안양
12                                 스파이더x하이드로블라스트 플로우넥  170000    부산 중구
13                                    테일러 메이드 스파이더 GT  200000    전체 울산
14                               테일러 스파이더 GT 34인치 상태굿  210000  충청 청주천안
15                        정품 테일러메이드 스파이더 GTX 34인치 새상품  380000   서울 서초구
16                                               스파이더  150000   인천 연수구
17                                   테일러메이드 스파이더GT 퍼터  190000    인천 부평
18                               마이스파이더x 35인치 보호필름 부착  270000    강원 춘천
19                                  스파이더x 34인치 (커버포함)  100000    경기 범계
20                                            스파이더 gt  180000  인천 미추홀구
21                                             스파이더ex  160000    경기 수원
22                               테일러 스파이더 GT 34인치 상태굿  210000  충청 청주천안
23                                   테일러메이드 스파이더GT 퍼터  190000    인천 부평
24                                           스파이더GT맥스  450000    전체 전라
25                                   테일러메이드 스파이더GT 퍼터  190000    인천 부평
26                                            스파이더 gt  190000  인천 미추홀구
27                                  테일러메이드 스파이더 GT 롤백  120000    경기 동탄
28                        판매완료ㅡ테일러메이드 스파이더 투어블랙퍼터35인치       1   경기 성남시
29                        테일러메이드 스파이더 EX 싱글밴드 퍼터 34인치  180000    경기 하남

In [14]:
golf_item_df.drop(golf_item_df[golf_item_df['판매가'] < 10000].index, inplace=True)

In [15]:
golf_item_df

                                                  상품명     판매가       지역
0                                    스파이더 미니 퍼터(34인치)  120000    전체 시흥
1                            텔메 스파이더 OS CB 퍼터 (구리인서트)  250000   경상 영천시
2                                            스파이더GT맥스  450000    전체 전라
3                                             스파이더 EX  150000  전체 분당수지
4                                테일러 스파이더 GT 34인치 상태굿  210000  충청 청주천안
5                                     스파이더ex(34)(새제품)  350000   대구 수성구
6                                      테일러메이드 스파이더 퍼터  150000   인천 영종도
7                                    테코정품 스파이더 GT 노치백  190000  경기 기흥서천
8                                    테일러메이드 스파이더GT 퍼터  190000    인천 부평
9                                스파이더 GT 롤백 실버블랙 33인치  170000   대구 수성구
10                                  스파이더x 34인치 (커버포함)  100000    경기 범계
11  테일러메이드 스파이더GT 우먼스 퍼터 33인치 판매합니다. 일주일 사용. 테일러메이...  380000  전체 과천안양
12                                 스파이더x하이드로블라스트 플로우넥  170000    부산 중구
13                                    테일러 메이드 스파이더 GT  200000    전체 울산
14                               테일러 스파이더 GT 34인치 상태굿  210000  충청 청주천안
15                        정품 테일러메이드 스파이더 GTX 34인치 새상품  380000   서울 서초구
16                                               스파이더  150000   인천 연수구
17                                   테일러메이드 스파이더GT 퍼터  190000    인천 부평
18                               마이스파이더x 35인치 보호필름 부착  270000    강원 춘천
19                                  스파이더x 34인치 (커버포함)  100000    경기 범계
20                                            스파이더 gt  180000  인천 미추홀구
21                                             스파이더ex  160000    경기 수원
22                               테일러 스파이더 GT 34인치 상태굿  210000  충청 청주천안
23                                   테일러메이드 스파이더GT 퍼터  190000    인천 부평
24                                           스파이더GT맥스  450000    전체 전라
25                                   테일러메이드 스파이더GT 퍼터  190000    인천 부평
26                                            스파이더 gt  190000  인천 미추홀구
27                                  테일러메이드 스파이더 GT 롤백  120000    경기 동탄
29                        테일러메이드 스파이더 EX 싱글밴드 퍼터 34인치  180000    경기 하남