In [1]:
#1. 필요한 라이브러리 import 하기 (10점)

from bs4 import BeautifulSoup
import requests
import re

In [2]:
#2. 링크를 request.get으로 가져오기 (header가 필요한 경우 headers 입력) (10점)

res = requests.get("https://www.golmarket.co.kr/used_list.php")


#3. BeautifulSoup을 이용해 파싱하기 (10점)

soup = BeautifulSoup(res.content, 'html.parser')

In [3]:
#4. 상품명 크롤링하여 리스트로 저장하기 (20점)

golf_name = soup.select('.jongitem > .wr_subject')
golf_price = soup.select('.price > b')
golf_date = soup.select('.date')
golf_area = soup.select('.area')

In [10]:
golf_list_name = list()
golf_list_price = list()
golf_list_date = list()
golf_list_area = list()

In [11]:
for name in golf_name:
  golf_list_name.append(name.get_text())

for price in golf_price:
  golf_list_price.append(price.get_text())

for date in golf_date:
  golf_list_date.append(date.get_text())

for area in golf_area:
  golf_list_area.append(area.get_text())

In [12]:
import pandas as pd

golmarket_df = pd.DataFrame([golf_list_name, golf_list_price, golf_list_date, golf_list_area]).T

golmarket_df.columns = ['상품명', '가격', '등록일', '위치']

In [13]:
golmarket_df

                                           상품명         가격    등록일       위치
0                           바실리우스 베타2  50x 샤프트    470,000  22:04    전라 남도
1                (A급,여성용)젠4 0341XF 5번우드,40L,택포    250,000  22:03   전체 경기도
2                           2023년 P7MC  4번 아이언    230,000  22:01    서울 강북
3                                   jpx 800 hd    500,000  21:58    경기 미사
4                        (완전a급)나이키 풀세트.내용확인.택포  1,340,000  21:57   전체 경기도
5                           텐세이 TM50 SR 샤프트 판매    100,000  21:56    충청 청주
6                     TOUR AD MT-7s 드라이버샤프트.택포    130,000  21:51   전체 경기도
7              [스틸파이버 커스텀] APEX 아펙스 6아이언 (5-P)  1,500,000  21:50    전체 전국
8         TSR2 / TSR3 드라이버+벤투스 샤프트 (로프트/스펙 선택)  1,050,000  21:50    전체 전국
9     벤투스 ▪블루/블랙/TR블루/TR블랙▪ 드라이버&우드 샤프트 (스펙선택)    370,000  21:50    전체 전국
10            G430MAX 드라이버+벤투스 샤프트 (로프트/스펙 선택)  1,050,000  21:49    전체 전국
11           텐세이 골드 / 텐세이 네이비 드라이버 샤프트 (55 SR)    180,000  21:49    전체 전국
12                       오디세이  스트로크 랩 블랙 더블와이드    190,000  21:47   충청 광혜원
13                                      혼마드라이브    500,000  21:40    전체 경남
14                 Callaway  XR16 여성용 우드4번 17도    120,000  21:36  서울 동대문구
15                            RESCUE 5번 여성용 우드     60,000  21:36  서울 동대문구
16                                  DS72 34인치     270,000  21:34    경상 거제
17                          스텔스1  9도 투어ad tp5s    460,000  21:32   대전 도안동
18                 텐세이 1K 오렌지 프로 6X(정품,타이틀슬리브)    320,000  21:31   서울 여의도
19                               스텔스1 오렌지1k 6s    500,000  21:31    대전 서구
20                      23년식 P7mc 다골 s200판매합니다  1,250,000  21:31    대전 서구
21                        테일러메이드 m6드라이버 flex s    200,000  21:30   부산 장산역
22                            t100s 신형 총9개 아이언  1,600,000  21:29  경기 수원병점
23                      디아마나 ZF60 S  캘러웨이  샤프트    150,000  21:26    전체 서울
24                         고릴라 드라이버 장타 헤드 신동품     200,000  21:23   부산 사하구
25                          조디아 Z903 드라이버 신동품     600,000  21:23   부산 사하구
26                       (신품)TSR3 9도 드라이버 기본6S    700,000  21:23    경기 평촌
27  정품PXG블랙 젠4 0311 ST 3X 포지드MILLED 5~W 6개 아이연  1,200,000  21:21   전체 제주시
28                 투어ad HY-75R 4번 유틸용 샤프트(타이틀)     75,000  21:20   서울 동작구
29                            캘러웨이 죠스5 46도 웨지     130,000  21:20  경기 화성동탄